body {
	background: $white;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

.wrapper {
	display: flex;
	flex-flow: column;
	min-height: 100vh;

	&--hidden {
		overflow: hidden;
	}
}

.main {
	flex: 1 0 auto;
	position: relative;
	max-width: 720px;
	overflow: hidden;
	padding: 15px 20px 0;
	margin: 0 auto;
	z-index: 0;
}

.valid-message {
	color: #f00;
	text-align: center;
}
