$white: #fff;
$black: #000;
$gray: #333;
$dim-yellow: #fffbc7;
$light-gray: #808080;
$middle-gray: #ccc;
$light-green: #b1e19b;
$light-blue: #ace2f8;
$blue: #005da1;
$lighter-blue: #f2fbff;
$white-gray: #f2f2f2;
$dark-gray: #a9a9a9;
$yellow: #fdd639;
